extends layout

block content

    .container
        h2 CLASH ROYALE
        a(href='/unita')
            h4 ■ Visualizza la lista completa delle unità di Clash Royale
        a(href='/inserisci')
            h4 ■ Inserisci una nuova unità